@import url("https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark: #41444b;
    --beige: #cabfab;
    --cream: #dfd8c8;
    --grey: #52575d;
    --orange: #f2613f;
    --orangeLight: #f2613f;
    --brand: 10;
    --total-width: 12rem;
    --logo-width: calc(var(--brand) * var(--logo-width) * 2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
    font-family: "Anton", sans-serif;
    overflow-x: hidden;
}

.bannerOne {
    background-color: var(--beige);
    z-index: 150;
}
.bannerTwo {
    background-color: var(--dark);
    z-index: 150;
}
.bannerThree {
    background-color: var(--orange);
    z-index: 150;
}
.bannerFour {
    background-color: var(--grey);
    z-index: 150;
}

nav {
    margin-top: 3.5rem;
    display: flex;
    width: 100vw;
    position: fixed;
    justify-content: space-around;
    z-index: 100;
}

.navPaths {
    color: var(--dark);
    z-index: 0;
}

.navPaths:hover {
    color: var(--beige);
}

.logoImage {
    object-fit: contain;
    margin-bottom: 1rem;
}

.themeButton {
    width: 3.2em;
    min-width: 52px;
    height: 1.8em;
    border-radius: 2rem;
    padding: 0 0.1em;
    background-color: var(--orange);
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
        inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.themeButton_indicator {
    background-color: var(--cream);
    width: 1.6em;
    height: 1.6em;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.themeButton_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.themeButton_icon {
    color: var(--orange);
    font-size: 3rem;
    transition: transform 0.5s ease;
}

.themeButton_icon:hover {
    transform: rotate(360deg);
}

.homeSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

.split {
    font-size: 4.2rem;
}

/* DARKMODE */
[data-theme="dark"] {
    --dark: #dfd8c8;
    --beige: #cabfab;
    --cream: #52575d;
    --grey: #f2613f;
    --orange: #41444b;
}

[data-theme="dark"] .themeButton_indicator {
    transform: translateX(1.3em);
}

[data-theme="dark"] .themeButton_icon {
    color: var(--grey);
}

.b-title {
    width: 100vw;
    color: var(--dark);
    font-size: 5rem;
    padding: 0 2rem 0 0;
    font-weight: 900;
    text-align: center;
    position: fixed;
}

[data-theme="dark"] .b-title {
    color: var(--grey);
}

.subtitle {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: var(--orange);
    justify-content: center;
    margin-top: 2rem;
    position: absolute;
    top: 45%;
    z-index: 3;
}

.slider {
    width: 100vw;
    height: fit-content;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.brands {
    list-style: none;
    width: 50%;
    display: flex;
    padding: 1rem;
}

.right {
    animation: slideRight 20s linear infinite;
}

.left {
    animation: slideLeft 20s linear infinite;
}

.brand-logo {
    scale: 0;
    width: 30%;
    min-width: 250px;
    margin-left: 3rem;
    opacity: 0.05;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-500%));
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(calc(-500%));
    }
    100% {
        transform: translateX(0);
    }
}

.orange {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: var(--orange);
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.helperWrapper {
    width: 100vw;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    position: fixed;
}
.helper {
    width: 300px;
    height: 100px;
    padding-left: 2rem;
    display: inline;
}

.homeContainer {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 20%;
}

#zoom-in {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

/* section */

.section {
    width: 100%;
    margin-top: 5rem;
}

/* work */

.title__work_container,
.title__project_container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: absolute;
    z-index: 4;
}

.title__project_container {
    margin-top: 5rem;
}

.title__work,
.title__project {
    font-size: 7rem;
    font-weight: 900;
    color: white;
    opacity: 0;
    letter-spacing: 0.5rem;
}

/*Projects*/

.work_container_wrapper {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 15rem;
}

.work_description_wrapper {
    display: none;
    background-color: var(--orange);
}

.work_description_wrapper p {
    width: 90%;
    padding: 3rem;
    text-align: start;
    background-color: rgba(240, 232, 232, 0.685);
    border-radius: 0.3rem;
}

.work_links_wrapper {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    background-color: white;
    border-radius: 0 0.3rem 0.3rem 0;
}

.project_container {
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--orangeLight);
    border-bottom: none;
    z-index: 10;
}

.project_container:nth-child(odd) {
    border-right: none;
}

.isLastProject,
.isPenultimateProject {
    border-right: 0.5px solid var(--orangeLight) !important;
    border-bottom: 0.5px solid var(--orangeLight);
}

.work_project_info_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    transition: background-color 0.5s ease-in-out;
}

.work_project_info_container:hover {
    background-color: var(--orange);
}

.work_project_info_container p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--orangeLight);
    transition: transform 2s ease;
}

.work_project_info_container:hover p {
    transform: scale(1.1);
    color: white;
}

.work_project_info_container span {
    margin: 0 0.2rem 0.2rem 0;
    font-size: 1.3rem;
    color: var(--grey);
    opacity: 0;
}

.work_project_info_container:hover span {
    opacity: 1;
}

@media (min-width: 600px) {
    .b-title {
        font-size: 8rem;
    }

    .le {
        font-size: 3rem;
    }

    .right {
        animation: slideRight 40s linear infinite;
    }

    .left {
        animation: slideLeft 40s linear infinite;
    }

    .subtitle {
        top: 80%;
    }
}

@media (min-width: 1080px) {
    .subtitle {
        top: 75%;
    }

    .brand-logo {
        min-width: 400px;
    }

    .right {
        animation: slideRight 80s linear infinite;
    }

    .left {
        animation: slideLeft 80s linear infinite;
    }

    .homeContainer {
        margin-top: 3rem;
        height: 50vh;
    }

    .work_description_wrapper {
        width: 45%;
        height: 80vh;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        padding: 5rem 0;
        border-radius: 0.3rem 0 0 0rem;
        opacity: 0.8;
    }

    .work_description_wrapper figure {
        width: 100%;
        height: fit-content;
        overflow: hidden;
        border-radius: 0.3rem;
        padding: 2rem;
    }

    .work_description_wrapper figure img {
        width: 100%;
        height: fit-content;
        border-radius: 0.3rem;
    }

    .work_links_wrapper {
        width: 45%;
    }

    @keyframes slideLeft {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-400%));
        }
    }

    @keyframes slideRight {
        0% {
            transform: translateX(calc(-400%));
        }
        100% {
            transform: translateX(0);
        }
    }

    .navPaths {
        font-size: 1.6rem;
    }
}

@media (min-width: 1300px) {
    .subtitle {
        top: 60%;
    }

    .b-title {
        font-size: 10rem;
    }

    .spacer {
        height: 10vh;
    }
}

.blue {
    width: 100vw;
    height: 80vh;
    background-color: blue;
}

.green {
    width: 100vw;
    height: 80vh;
    background-color: green;
}
